
/* main */
header{
	background-color: #edd2b8;
	font-family: "Helvectica", sans-serif;
	text-align: center;
	font-size: 1.25em;
	padding: 0.3em;
	background: no-repeat center/cover url("https://puu.sh/uEzsn/fc9ddba4cc.jpg"); /*clean white*/
}
nav{
	/*background-color: #edd2b8;*/
	padding: 0.30em;
	font-family: "Helvectica", sans-serif;
	word-spacing: 0.5em;
	color: #163ba0;
	text-align: center;
	font-size: 1.75em;
}
nav li{
	display: inline-block;
}
body{
  font-family: 'Comic Sans MS', sans-serif;
  background: no-repeat center/cover url("http://i.imgur.com/9OJ7EqJ.jpg");
  width: 60%;
  margin-left:20%;
  /*background-color: #e3e9f2;*/
}
@media screen and (min-width: 1024px){
h1{
	font-size:4em;
	text-align: center;
}
}

h2{
	font-size:3em;
	text-align: center;
}
p {
  font-size: 1em;
}
.edu{
  border: 1.5px solid black ;
  padding: 0.5em;
  margin: 1.5em;
  background-color: #e3e9f2;
}
.introduction{
  border: 1.5px solid black ;
  padding: 0.5em;
  margin: 1.5em;
  text-align: center;
  background-color: #e3e9f2;
}
.bigbox{
	padding: 0.5em;
	border: 2.5px solid gray;
	background-color: #e3e9f2;
}
.aboutMeBox{
	padding: 0.5em;
	border: 2.5px solid gray;
	background-color: #e3e9f2;
	text-align: center;
}
.photoGallery{
	padding: 0.5em;
	border: 2.5px solid gray;
	background-color: #e3e9f2;
	text-align:center;
}
.contact_information_css{
	margin: 3em;
	background-color: #e3e9f2;
}


footer{
  background-color: #5fdec3;
  color: #000000;
  font-size: 0.75em;
  text-align: center;
}